/**
 * VerboseOptionsetField
 */
.verboseoptionset.field .verbose-description
 {
  float: right;
  max-width: 300px;
}

.verboseoptionset.field .verbose-description img {
    max-width: 300px;
}
.verboseoptionset.field .form__field-holder {
    max-height: 70vh;
    overflow: auto;
}
